<div class="jumbotron app-info">
	<div>
		<p>Looking for presentation photos? Maybe a developer, looking for absolute paths to images on a webpage? Enter a url below, and PhotoFinder will do all of the parsing work for you.</p>
	</div>

	<div class="search_form">
		<form action="show" method="get" class="form">
			<input type="text" name="search_input" class="form-control search_input" placeholder="www.msn.com">
		  	<button type="submit" class="btn btn-default submit_button">Find Photos</button>
		</form>
	</div>
</div>
